<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
  <!-- <strong>Title:</strong> -->
    <h1><%= @recipe.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    
    <% @recipe.images.each_with_index do |image, index| %>
   
     <img id="recipe-show" class="media-object" src="<%= image.url %>" >
      <% end %>


   
  </div>
</div>

<hr>

<div class="row">
  <div class="card-deck-wrapper">
  <div class="card-deck">




  <div class="col-md-6">
    <div class="card-block">
      <h4 class="card-title">Ingredients:</h4>
      <ul class="list-group">
        <% @recipe.ingredient_list.each do |ingredient| %>
          <li class="list-group-item"><%= ingredient %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card-block">
      <h4 class="card-title">Method:</h4>
      <ul class="list-group">
        <% @recipe.method_list.each do |method| %>
        <li class="list-group-item"><%= method %></li>
      <% end %>
      </ul>
    </div>
  </div>

  </div>  
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
  <strong>Time</strong>
    <h1><%= @recipe.time %></h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
  <strong>User:</strong>
    <h1><%= @recipe.user.first_name %> <%= @recipe.user.last_name %></h1>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
  <% if @recipe == current_user %>
  <li><%= link_to 'Edit', edit_recipe_path(@recipe) %></li>
  <li><%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
  </div>
</div>

















































