<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>
  <p>
    <strong>Ingredients:</strong>
    <%= @recipe.ingredients %>
  </p>
  <p>
    <strong>Method:</strong>
    <%= @recipe.method %>
  </p>
  <p>
    <strong>time:</strong>
    <%= @recipe.time %>
  </p>
  


<p>
  <strong>Image:</strong>
  <% @recipe.images.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
    <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user.first_name %> <%= @recipe.user.last_name %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
